{#include:adminpanel_header.inc.html#}
<script src="{#wait:baseurl#}/common/bquery_ajax.js"></script>
<script src="{#wait:baseurl#}/i/admin.js.php"></script>

{#wait:html2#}

<a href="javascript:" onclick="set_mode('a');" class="func">Access time</a>,
<a href="javascript:" onclick="set_mode('m');" class="func">Change time</a>,
<a href="javascript:" onclick="set_mode('c');" class="func">Inode time</a><br><br>

<!-- new code -->
<form method="post">
    <!-- Source -->
    <input type="hidden" name="sourcedir" value="/" id="path0">

    <div class="browser" id="browser0"></div>
    <script>
        function check() {
            var k = 1;
            var d;
            while (null !== (d = document.getElementById('file_' + k))) {
                d.checked = true;
                k++;
            }
        }

        function uncheck() {
            var k = 1;
            var d;
            while (null !== (d = document.getElementById('file_' + k))) {
                d.checked = false;
                k++;
            }
        }

        function revert() {
            var k = 1;
            var d;
            while (null !== (d = document.getElementById('file_' + k))) {
                d.checked = !d.checked;
                k++;
            }
        }

    </script>
    <a href="javascript:" onclick="check();"><img src="{#wait:baseurl#}/common/adminpanel/ui-check-box.png" title="Check all"></a>
    <a href="javascript:" onclick="uncheck();"><img src="{#wait:baseurl#}/common/adminpanel/ui-check-box-uncheck.png"
                                                    title="Uncheck all"></a>
    <a href="javascript:" onclick="revert();"><img src="{#wait:baseurl#}/common/adminpanel/ui-check-boxes.png" title="Revert all"></a><br/>

    <!-- Destination -->
    Destination: <input name="destdir" id="path1" value="/" style="width: 250px;"><br/>

    <div class="browser" id="browser1"></div>
    <input id="new_folder_name"><br/>
    <input type="button" class="nicebutton" value="Create folder" onclick="CreateFolder('storage', 0, 1);"><br/><br/>
    <script>
        var expl_set = [
            {base_path: '/', parent_folder: 'storage', g_type: 1, need_check: true},
            {base_path: '/', parent_folder: 'storage', g_type: 0, need_check: false}
        ];
        viewfolder('/', 0);
        function aff() {
            if (spider_locked) {
                setTimeout('aff()', 100);
                return;
            }
            viewfolder('/', 1);
        }
        setTimeout('aff()', 100);
    </script>


    <input name="width" value="300"> Width<br/>
    <input name="height" value="auto"> Height<br/>

    <input type="submit" value="Copy images" class="nicebutton">
    <input type="hidden" name="action" value="upload">
</form>

{#include:adminpanel_footer.inc.html#}