{#include:adminpanel_header.inc.html#}

<div class="infobox">{#wait:infobox#}</div>

<!-- new code -->
<a href="javascript:" onclick="set_mode('a');" class="func">Access time</a>,
<a href="javascript:" onclick="set_mode('m');" class="func">Change time</a>,
<a href="javascript:" onclick="set_mode('c');" class="func">Inode time</a><br><br>

<div class="browser" id="browser0"></div>
<input id="new_folder_name"><input type="submit" value="Create folder" onclick="CreateFolder('templates', 2, 0);">
<script>
    var expl_set = [
        {base_path: '/', parent_folder: 'templates', g_type: 2, need_check: false}
    ];
    viewfolder('{#wait:viewfolder_path#}', 0);
</script>

<form method="get" target="_blank" action="editcode.php">
    <input name="file" style="width: 250px;"/>
    <input type="hidden" name="folder" id="path0" value="/">
    <input type="submit" value="Create new file"/>
</form>


{#include:adminpanel_footer.inc.html#}