{#include:adminpanel_header.inc.html#}
<script type="text/javascript" src="{#wait:baseurl#}/common/bquery_ajax.js"></script>
<script type="text/javascript" src="{#wait:baseurl#}/common/jquery.filedrop.js"></script>
<link rel="stylesheet" href="{#wait:baseurl#}/common/ascet.css" type="text/css" media="screen">
<script src="{#wait:baseurl#}/i/admin.js.php"></script>

<style>
    div.uploadbox {
        -moz-border-radius: 3px 3px 3px 3px;
        border-radius: 3px 3px 3px 3px;
        border: 1px solid #BA7FFF;
        float: right;
        margin-left: 10%;
        padding: 67px 0;
        text-align: center;
        width: 500px;
    }

    td.status {
        width: 15px;
    }

    td.filename {
        width: 100px;
        max-width: 100px;
        overflow: hidden;
    }

    table.uploadtable {
        width: 100%;
        border: none;
        border-collapse: collapse;
    }

    table.uploadtable td {
        border: none;
    }
</style>

<div class="infobox">
    {#wait:infobox#}
    <table>
        <tr>
            <td title="post_max_size">{#wait:l_post_max#}</td>
            <td>{#wait:l_post_td2#}</td>
        </tr>
        <tr>
            <td title="upload_max_filesize">{#wait:l_upload_max#}</td>
            <td>{#wait:l_upload_td2#}</td>
        </tr>
    </table>
</div>

{#wait:file_uploaded_block#}

<!-- Ajax upload form -->
<div class="uploadbox sad-violet">
    {#wait:drop_here#}
    <table class="uploadtable"></table>
</div>
{#wait:upload_max_filesize#}
<script>
    /** @namespace upload_max_filesize */
    var dropbox = $('div.uploadbox');
    var hidedrop = navigator.userAgent.search('Firefox') == -1 &&
                   navigator.userAgent.search('Chrome') == -1;
    if (hidedrop) {dropbox.hide();} else {

        var active_upload = 0;
        var set = dropbox.filedrop({
            paramname: 'pic',
            maxfiles: 100,
            maxfilesize: upload_max_filesize,
            url: '{#wait:baseurl#}/i/ajax.php?action=uploadfiles',
            data: {
                'dir': function() {return $('#path0')[0].value;},
                'overwrite': function() {return $('#overwrite')[0].checked ? 1 : 0;}
            },

            uploadStarted: function(i, file, len) {
                var tr = $("#fileupload" + i)[0];
                if (tr == undefined) {
                    tr = document.createElement('tr');
                    tr.id = "fileupload" + i;
                    $('table.uploadtable')[0].appendChild(tr);
                } else {
                    $(tr).html('');
                    $(tr).show();
                }

                var td = document.createElement('td');
                tr.appendChild(td);
                $(td).addClass('status');
                $(td).html(file.size);
                td = document.createElement('td');
                tr.appendChild(td);
                $(td).addClass('filename');
                $(td).html(file.name);

                var pb_d = document.createElement('td');
                tr.appendChild(pb_d);
                $(pb_d).css({
                    'width': 300,
                    'height': 14,
                    'background-color': 'white',
                    'display': 'inline-block',
                    'padding': 0,
                    'border-radius': 0,
                    '-moz-border-radius': 0
                });
                var pb = document.createElement('div');
                pb_d.appendChild(pb);
                $(pb).addClass('progress-bar');
                $(pb).css({'width': '0%', 'height': 14});
                pb.title = '0%';

                active_upload++;
                //createImage(file);
            },
            progressUpdated: function(i, file, progress) {
                $("#fileupload" + i + ' div.progress-bar').css({'width': progress + '%'});
                $("#fileupload" + i + ' div.progress-bar')[0].title = progress + '%';
            },
            uploadFinished: function(i, file, response) {
                $("#fileupload" + i + ' div.progress-bar').css({'width': '100%'});
                $("#fileupload" + i + ' div.progress-bar')[0].title = '100%';
                setTimeout(function() {$("#fileupload" + i).fadeOut(500);}, 5000);
                active_upload--;
                if (response.status == '403') {
                    $("#fileupload" + i).addClass('sad-red');
                    $("#fileupload" + i + ' td.status').html('no access');
                    return;
                }
                if (response.status == 'skip') {
                    $("#fileupload" + i).addClass('sad-orange');
                    $("#fileupload" + i + ' td.status').html('skip');
                    return;
                }
                if (expl_set[0].base_path == "/" + response.dir) {
                    files[files.length] = response;
                    refresh_all(0);
                }
            },
            error: function(err, file) {},
            rename: function(old) {
                var s = '';
                for (var i = 0; i < old.length; i++) {
                    var c = old.charCodeAt(i);
                    if (c > 128 || c == 32) {s += '_';} else {s += String.fromCharCode(c);}
                }
                return s;
            }
        });
    }
</script>

<!-- POST upload form -->
<form method="post" enctype="multipart/form-data">
    <table class="noborder">
        <tr>
            <td style="text-align: right;">
                <label for="overwrite" title="{#wait:overwrite_title#}">{#wait:overwrite#}</label>
            </td>
            <td><input type="checkbox" name="overwrite" value="1" id="overwrite"></td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <label for="path0" title="{#wait:folder_title#}">{#wait:folder#}</label>
            </td>
            <td><input name="path" value="{#wait:folder_path#}" id="path0"></td>
        </tr>
        <tr>
            <td colspan="2">
                <hr>
            </td>
        </tr>

        <tr>
            <td style="text-align: right;"><label for="files">{#wait:fildes#}</label></td>
            <td><input type="file" multiple="multiple" name="file[]" id="files"/></td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="2"><input type="submit" class="nicebutton" value="{#wait:uploadbutton#}">
            </td>
        </tr>
    </table>

</form>

<!-- new code -->
<a href="javascript:" onclick="set_mode('a');" class="func">Access time</a>,
<a href="javascript:" onclick="set_mode('m');" class="func">Change time</a>,
<a href="javascript:" onclick="set_mode('c');" class="func">Inode time</a><br><br style="clear: both; ">
<div class="browser" id="browser0"></div>
<input id="new_folder_name"><br/>
<input type="submit" value="Create folder" class="nicebutton" onclick="CreateFolder('storage', 1, 0);">
<script>
    var expl_set = [
        {base_path: '/', parent_folder: 'storage', g_type: 1, need_check: false}
    ];
    viewfolder('{#wait:folder_path#}', 0);
</script>


{#include:adminpanel_footer.inc.html#}