{#include:adminpanel_header.inc.html#}
<script>
    $(document).ready(function() {
        if (navigator.userAgent.search('Opera') > -1 || navigator.userAgent.search('Firefox') > -1 ||
            navigator.userAgent.search('Chrome') > -1) {$('#badbrowser').hide();}
    });
</script>

<div class="infobox" id="badbrowser">
    {#wait:badbrowser_html#}
    <table class="noborder" style="width: 100%;">
        <tr>
            <td></td>
            <td style="vertical-align: middle; text-align: center;"><a href="http://google.com/chrome/" target="_blank"><img
                    src="{#wait:baseurl#}/common/adminpanel/chrome.png"><br/>Google Chrome</a></td>
            <td></td>
            <td style="vertical-align: middle; text-align: center;"><a href="http://mozilla-europe.org/" target="_blank"><img
                    src="{#wait:baseurl#}/common/adminpanel/firefox.png"><br/>Mozilla Firefox</a></td>
            <td></td>
            <td style="vertical-align: middle; text-align: center;"><a href="http://opera.com/" target="_blank"><img
                    src="{#wait:baseurl#}/common/adminpanel/opera.png"><br/>Opera</a></td>
            <td></td>
        </tr>
    </table>
</div>

{#wait:table1#}
{#wait:html3#}

{#include:adminpanel_footer.inc.html#}