body{
 background-image: url('./back.png');
 background-repeat: repeat-x;
 font-family: Times New Roman;
}

img {
 border: none;
}

/* tabs */
ul.tabs{
 border: 1px #ba7fff solid;
 background-color: #cfa5ff;
 border-radius: 5px;
 -moz-border-radius: 5px;
 padding: 3px;
}

ul.tabs li{
 width: 87px;
 height: 20px;
 border: 1px #ac66ff solid;
 display: inline-block;
 text-align: center;

 text-decoration: none;
 color: black;

 border-radius: 3px;
 -moz-border-radius: 3px;
 padding: 2px;
}

/* toolbar */
ul.toolbar{
 background-color: #9940ff;
 padding: 0px;
 height: 32px;

 text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
 background-image: -moz-linear-gradient(top, #9940ff, #8a3ae6);
 background-image: linear-gradient(top, #9940ff, #8a3ae6);
 background-image: -webkit-linear-gradient(top, #9940ff, #8a3ae6);
 z-index: 3;
 position: relative;
 border-radius: 3px;
 -moz-border-radius: 3px;
}
ul.toolbar li{
 display: inline-block;
}
ul.toolbar a{
 width: 120px;
 height: 28px;
 padding: 5px 0px 0px 20px;
 display: block;
 text-align: center;
 color: white;
 text-decoration: none;
}
ul.toolbar img{
 position: absolute;
 margin-top: -22px;
}

div.toolbar_hid{
 background-color: #8A3AE6;
 width: 130px;
 overflow: hidden;
 position: absolute;
 display: none;
 padding-top: 3px;
 z-index: 1;
 
 -moz-border-radius: 0px 0px 3px 3px;
 border-radius: 0px 0px 3px 3px;
}
div.toolbar_hid a{
 display: block;
 width: 130px;
 padding: 5px 0px 5px 10px;
 color: white;
 text-decoration: none;
}

/* infobox */
div.infobox{
 border-radius: 3px;
 -moz-border-radius: 3px;
 
 margin: 20px;
 padding: 10px;
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

div.infobox ol{
 margin: 0;
 padding: 0px 0px 0px 25px;
}

table{
 margin-top: 10px;

 border: 1px #BA7FFF solid;
 border-radius: 5px;
 -moz-border-radius: 5px;
}

table tr.head td{
 border: 1px #BA7FFF solid !important;
 background-color: #ba7fff;
}

table td{
 border: 1px #BA7FFF solid;
 border-radius: 5px;
 -moz-border-radius: 5px;
 padding: 3px 6px;
}

table.noborder{
 border: none;
}

table.noborder td{
 border: none;
}

/* files */
div.files{
 font-family: monospace;

}

div.files a.dir, div.files a.file{
 text-decoration: none;
}

div.files a.file{
 color: #606060;
}

div.files a{
 color: black;
}

/* browsers */
div.browser{
 margin-bottom: 20px;
 font-family: monospace;
}

div.browser img{
 border: none;
 width: 16px;
}
div.browser a{
 text-decoration: none;
 color: black;
}
div.browser a.p00, div.browser a.p01{
 color: red;
}
div.browser a.p10{
 color: #FF8000;
}

div.browser span.timea, div.browser span.timem{
 display: none;
}

a.func {
 color: black;
}

/* button */
input.nicebutton,a.nicebutton{
 width: 240px;
 border-radius: 4px;
 -moz-border-radius: 4px;
 color: white;
 display: inline-block;
 cursor: pointer;
 font-family: Arial;
 font-size: 13px;
 
 border: 1px solid #A82FED;
 background-color: #BE4CFF;
 background-image: -moz-linear-gradient(top, #BE4CFF, #B147ED);
 background-image: -webkit-linear-gradient(#BE4CFF, #B147ED);
 background-image: linear-gradient(top, #BE4CFF, #B147ED);
 
 text-shadow: 0px 1px 1px #d180ff;
 text-decoration: none;
 text-align: center;
 padding: 10px;
}

.mrgn{
 margin-left: 50px;
 margin-top: 10px;
}