div.calendar{
 display: inline;
}

div.calendar table{
 border: 0px;
}

div.calendar tr.header td{
 background-color: #ffae29;
 border: 1px solid #e28b00;
 -moz-border-radius: 5px;
 border-radius: 5px;
 position: relative;
}

div.calendar tr.header a{
 text-decoration: none;
 color: black;
}

div.calendar td{
 text-align: center;
 border: 0px;
 padding: 1px;
}

div.calendar tr.line a{
 width: 28px;
 height: 23px;
 padding-bottom: 0;
 padding-top: 4px;

 display: block;
 background-color: #ffae29;
 border: 1px solid #e28b00;
 -moz-border-radius: 5px;
 border-radius: 5px;
 text-decoration: none;
 color: #9132ff;
 font-size: 16px;
}

div.calendar tr.line td.current a{
 background-color: white;
 border: 1px solid #e2a543;
}

div.calendar div.hidden{
 width: 240px;
 position: absolute;
 padding: 5px;
 background-color: #E2C79E;
 margin-top: 3px;
}

div.calendar div.hidden input.his{
 width: 96%;
 margin-left: 2%;
}

div.calendar div.hidden a.close_button{
 width: 96%
 margin-left: 2%;
 display: block;
 text-decoration: none;
 text-align: center;
 color: black;
}

div.calendar tr.header ul{
 display: inline;
 position: absolute;
 padding: 0px;
 margin: 0px;
}

div.calendar tr.header li{
 display: inline;
}