div.form{
    background-color: #CFA5FF;
    border-top: none;
    border: 1px solid #BA7FFF;
    padding: 3px 3px 20px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}

div label, div.ar_label{
    display: inline-block;
    padding-right: 6px;
    text-align: right;
    width: 46%;
	cursor: pointer;
	font-size: 16px;
}

div input.textbox{
    display: inline-block;
    width: 45%;
	background-color: #f7f7f7;
	padding: 2px 5px;
	margin-bottom: 5px;
	
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
    
	border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div input.textbox:hover{
    background-color: white;
}

div input.textbox:focus{
    background-color: white;
	outline: none;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px white;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px white;
}

div label.textarea{
    display: inline;
}

div textarea{
    width: 700px;
    height: 300px;
}

/* submit button */
input.sbm{
    width:  200px !important;
    padding: 5px  !important;
}

/* tabs */
ul.tabs{
    border-bottom: none;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

ul.tabs li{
    margin-right: 5px;
    width: auto;
    
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 4px;
}

ul.tabs li.active{
    background-color: #9f4cff;
}

ul.tabs a{
    color: black;
    text-decoration: none;
}
