body{
 background-image: url('./back.png');
 background-repeat: repeat-x;
}

div.main {
 margin-top: 20%;
 width: 250px;
 margin-left: -125px;
 left: 50%;
 position: absolute;
 background-color: #cc99ff;
 border: #9933ff 1px solid;
 border-radius: 7px;
 -moz-border-radius: 7px;
 padding: 10px;
}

div.main input{
 float: right;
 width: 145px;
 border-radius: 3px;
 -moz-border-radius: 3px;
 border: none; 
 padding: 2px 3px;
 background-color: #FCFCFC;
}

div.main input.submit{
 width: 242px;
 margin-right: 5px;
 display: block;
 border-radius: 3px;
 -moz-border-radius: 3px;
 font-family: Arial;
 
 background-color: #BE4CFF;
 background-image: -moz-linear-gradient(top, #BE4CFF, #B147ED);
 background-image: -webkit-linear-gradient(top, #BE4CFF, #B147ED);
 background-image: linear-gradient(top, #BE4CFF, #B147ED);
 border: 1px solid #A82FED;
 height: 33px;
}

input.textbox{
 box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
 -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
 -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
}

input.textbox:focus{
 outline: none;
}

div.main div{
 margin: 5px 5px 10px 5px;
}