/*
   Copyright 2012 BiSe Trojanov

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*/
.sad{
    color: #333333;
}

img {
    border: none;
}

.mrgn{
    margin: 10px 0px 0px 50px;
}


/* label */

.sad label, label.sade{
    display: inline-block;
    padding-right: 6px;
    text-align: right;
    width: 25%;
	cursor: pointer;
	font-size: 16px;
}


/* input */

.sad input[type="text"], .sad input[type="password"], .sad input:not([type]), input.sade, .sad textarea, textarea.sade{
    display: inline-block;
    width: 45%;
	background-color: #fcfcfc;
	padding: 2px 5px;
	margin-bottom: 5px;
	
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
    
	border: none;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sad input[type="text"]:hover, .sad input[type="password"]:hover, .sad input:not([type]):hover, input.sade:hover, .sad textarea:hover, textarea.sade:hover{
    background-color: white;
}

.sad input[type="text"]:focus, .sad input[type="password"]:focus, .sad input:not([type]):focus, input.sade:focus, .sad textarea:focus, textarea.sade:focus{
    background-color: white;
	outline: none;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px white;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px white;
}


/* button */

.nice{
    width: 240px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 13px;
 
    border: 1px solid #A82FED;
    background-color: #BE4CFF;
    background-image: -moz-linear-gradient(top, #BE4CFF, #B147ED);
    background-image: -webkit-linear-gradient(#BE4CFF, #B147ED);
    background-image: linear-gradient(top, #BE4CFF, #B147ED);
 
    text-shadow: 0px 1px 1px #d180ff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}


/* progress bar */

.sad div.progress-box{
    display: block;
    height:  13px;
	width:   50%;
	border: 1px solid #F0F0F0;
	margin-bottom: 5px;
}

.sad div.progress-bar{
    display: block;
    height: 13px;
    background-color: rgb(102, 0, 186);
    background-image: -moz-linear-gradient(top, rgb(232, 204, 255) 0%, rgb(232, 204, 255) 15%, rgb(194, 154, 227) 46%, rgb(102, 0, 186) 47%, rgb(102, 0, 186) 61%, rgb(165, 92, 224) 100%);
    background-image: -webkit-linear-gradient(rgb(232, 204, 255) 0%, rgb(232, 204, 255) 15%, rgb(194, 154, 227) 46%, rgb(102, 0, 186) 47%, rgb(102, 0, 186) 61%, rgb(165, 92, 224) 100%);
    background-image: linear-gradient(top, rgb(232, 204, 255) 0%, rgb(232, 204, 255) 15%, rgb(194, 154, 227) 46%, rgb(102, 0, 186) 47%, rgb(102, 0, 186) 61%, rgb(165, 92, 224) 100%);
}

/* colored */

.sad-violet input[type="text"], .sad-violet input[type="password"], .sad-violet input:not([type]), .sad-violet input.sade:focus, .sad-violet textarea{
    border: 1px solid rgb(142, 47, 237);
}

.sad-violet input[type="text"]:focus, .sad-violet input[type="password"]:focus, .sad-violet input:not([type]):focus , .sad-violet input.sade:focus, .sad-violet textarea:focus{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(142, 47, 237);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(142, 47, 237);
}

.sad-violet .nice{
    border: 1px solid rgb(142, 47, 237);
    background-color: rgb(166, 77, 255);
    background-image: -moz-linear-gradient(top, rgb(166, 77, 255), rgb(154, 71, 237));
    background-image: -webkit-linear-gradient(rgb(166, 77, 255), rgb(154, 71, 237));
    background-image: linear-gradient(top, rgb(166, 77, 255), rgb(154, 71, 237));
 
    text-shadow: 0px 1px 1px rgb(191, 128, 255);
}

.sad-violet div.progress-bar{
    background-color: rgb(93, 0, 186);
    background-image: -moz-linear-gradient(top, rgb(230, 204, 255) 0%, rgb(230, 204, 255) 15%, rgb(191, 154, 227) 46%, rgb(93, 0, 186) 47%, rgb(93, 0, 186) 61%, rgb(158, 92, 224) 100%);
    background-image: -webkit-linear-gradient(rgb(230, 204, 255) 0%, rgb(230, 204, 255) 15%, rgb(191, 154, 227) 46%, rgb(93, 0, 186) 47%, rgb(93, 0, 186) 61%, rgb(158, 92, 224) 100%);
    background-image: linear-gradient(top, rgb(230, 204, 255) 0%, rgb(230, 204, 255) 15%, rgb(191, 154, 227) 46%, rgb(93, 0, 186) 47%, rgb(93, 0, 186) 61%, rgb(158, 92, 224) 100%);
}


.sad-orange input[type="text"], .sad-orange input[type="password"], .sad-orange input:not([type]), .sad-orange input.sade:focus, .sad-orange textarea{
    border: 1px solid rgb(237, 142, 47);
}

.sad-orange input[type="text"]:focus, .sad-orange input[type="password"]:focus, .sad-orange input:not([type]):focus , .sad-orange input.sade:focus, .sad-orange textarea:focus{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(237, 142, 47);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(237, 142, 47);
}

.sad-orange .nice{
    border: 1px solid rgb(237, 142, 47);
    background-color: rgb(255, 166, 77);
    background-image: -moz-linear-gradient(top, rgb(255, 166, 77), rgb(237, 154, 71));
    background-image: -webkit-linear-gradient(rgb(255, 166, 77), rgb(237, 154, 71));
    background-image: linear-gradient(top, rgb(255, 166, 77), rgb(237, 154, 71));
 
    text-shadow: 0px 1px 1px rgb(255, 191, 128);
}

.sad-orange div.progress-bar{
    background-color: rgb(186, 93, 0);
    background-image: -moz-linear-gradient(top, rgb(255, 230, 204) 0%, rgb(255, 230, 204) 15%, rgb(227, 191, 154) 46%, rgb(186, 93, 0) 47%, rgb(186, 93, 0) 61%, rgb(224, 158, 92) 100%);
    background-image: -webkit-linear-gradient(rgb(255, 230, 204) 0%, rgb(255, 230, 204) 15%, rgb(227, 191, 154) 46%, rgb(186, 93, 0) 47%, rgb(186, 93, 0) 61%, rgb(224, 158, 92) 100%);
    background-image: linear-gradient(top, rgb(255, 230, 204) 0%, rgb(255, 230, 204) 15%, rgb(227, 191, 154) 46%, rgb(186, 93, 0) 47%, rgb(186, 93, 0) 61%, rgb(224, 158, 92) 100%);
}


.sad-blue input[type="text"], .sad-blue input[type="password"], .sad-blue input:not([type]), .sad-blue input.sade:focus, .sad-blue textarea{
    border: 1px solid rgb(47, 47, 237);
}

.sad-blue input[type="text"]:focus, .sad-blue input[type="password"]:focus, .sad-blue input:not([type]):focus , .sad-blue input.sade:focus, .sad-blue textarea:focus{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(47, 47, 237);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(47, 47, 237);
}

.sad-blue .nice{
    border: 1px solid rgb(47, 47, 237);
    background-color: rgb(77, 77, 255);
    background-image: -moz-linear-gradient(top, rgb(77, 77, 255), rgb(71, 71, 237));
    background-image: -webkit-linear-gradient(rgb(77, 77, 255), rgb(71, 71, 237));
    background-image: linear-gradient(top, rgb(77, 77, 255), rgb(71, 71, 237));
 
    text-shadow: 0px 1px 1px rgb(128, 128, 255);
}

.sad-blue div.progress-bar{
    background-color: rgb(0, 0, 186);
    background-image: -moz-linear-gradient(top, rgb(204, 204, 255) 0%, rgb(204, 204, 255) 15%, rgb(154, 154, 227) 46%, rgb(0, 0, 186) 47%, rgb(0, 0, 186) 61%, rgb(92, 92, 224) 100%);
    background-image: -webkit-linear-gradient(rgb(204, 204, 255) 0%, rgb(204, 204, 255) 15%, rgb(154, 154, 227) 46%, rgb(0, 0, 186) 47%, rgb(0, 0, 186) 61%, rgb(92, 92, 224) 100%);
    background-image: linear-gradient(top, rgb(204, 204, 255) 0%, rgb(204, 204, 255) 15%, rgb(154, 154, 227) 46%, rgb(0, 0, 186) 47%, rgb(0, 0, 186) 61%, rgb(92, 92, 224) 100%);
}


.sad-red input[type="text"], .sad-red input[type="password"], .sad-red input:not([type]), .sad-red input.sade:focus, .sad-red textarea{
    border: 1px solid rgb(237, 47, 47);
}

.sad-red input[type="text"]:focus, .sad-red input[type="password"]:focus, .sad-red input:not([type]):focus , .sad-red input.sade:focus, .sad-red textarea:focus{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(237, 47, 47);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(237, 47, 47);
}

.sad-red .nice{
    border: 1px solid rgb(237, 47, 47);
    background-color: rgb(255, 77, 77);
    background-image: -moz-linear-gradient(top, rgb(255, 77, 77), rgb(237, 71, 71));
    background-image: -webkit-linear-gradient(rgb(255, 77, 77), rgb(237, 71, 71));
    background-image: linear-gradient(top, rgb(255, 77, 77), rgb(237, 71, 71));
 
    text-shadow: 0px 1px 1px rgb(255, 128, 128);
}

.sad-red div.progress-bar{
    background-color: rgb(186, 0, 0);
    background-image: -moz-linear-gradient(top, rgb(255, 204, 204) 0%, rgb(255, 204, 204) 15%, rgb(227, 154, 154) 46%, rgb(186, 0, 0) 47%, rgb(186, 0, 0) 61%, rgb(224, 92, 92) 100%);
    background-image: -webkit-linear-gradient(rgb(255, 204, 204) 0%, rgb(255, 204, 204) 15%, rgb(227, 154, 154) 46%, rgb(186, 0, 0) 47%, rgb(186, 0, 0) 61%, rgb(224, 92, 92) 100%);
    background-image: linear-gradient(top, rgb(255, 204, 204) 0%, rgb(255, 204, 204) 15%, rgb(227, 154, 154) 46%, rgb(186, 0, 0) 47%, rgb(186, 0, 0) 61%, rgb(224, 92, 92) 100%);
}


.sad-green input[type="text"], .sad-green input[type="password"], .sad-green input:not([type]), .sad-green input.sade:focus, .sad-green textarea{
    border: 1px solid rgb(47, 237, 47);
}

.sad-green input[type="text"]:focus, .sad-green input[type="password"]:focus, .sad-green input:not([type]):focus , .sad-green input.sade:focus, .sad-green textarea:focus{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(47, 237, 47);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(47, 237, 47);
}

.sad-green .nice{
    border: 1px solid rgb(47, 237, 47);
    background-color: rgb(77, 255, 77);
    background-image: -moz-linear-gradient(top, rgb(77, 255, 77), rgb(71, 237, 71));
    background-image: -webkit-linear-gradient(rgb(77, 255, 77), rgb(71, 237, 71));
    background-image: linear-gradient(top, rgb(77, 255, 77), rgb(71, 237, 71));
 
    text-shadow: 0px 1px 1px rgb(128, 255, 128);
}

.sad-green div.progress-bar{
    background-color: rgb(0, 186, 0);
    background-image: -moz-linear-gradient(top, rgb(204, 255, 204) 0%, rgb(204, 255, 204) 15%, rgb(154, 227, 154) 46%, rgb(0, 186, 0) 47%, rgb(0, 186, 0) 61%, rgb(92, 224, 92) 100%);
    background-image: -webkit-linear-gradient(rgb(204, 255, 204) 0%, rgb(204, 255, 204) 15%, rgb(154, 227, 154) 46%, rgb(0, 186, 0) 47%, rgb(0, 186, 0) 61%, rgb(92, 224, 92) 100%);
    background-image: linear-gradient(top, rgb(204, 255, 204) 0%, rgb(204, 255, 204) 15%, rgb(154, 227, 154) 46%, rgb(0, 186, 0) 47%, rgb(0, 186, 0) 61%, rgb(92, 224, 92) 100%);
}


.sad-lightblue input[type="text"], .sad-lightblue input[type="password"], .sad-lightblue input:not([type]), .sad-lightblue input.sade:focus, .sad-lightblue textarea{
    border: 1px solid rgb(47, 142, 237);
}

.sad-lightblue input[type="text"]:focus, .sad-lightblue input[type="password"]:focus, .sad-lightblue input:not([type]):focus , .sad-lightblue input.sade:focus, .sad-lightblue textarea:focus{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(47, 142, 237);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset, 0px 0px 10px rgb(47, 142, 237);
}

.sad-lightblue .nice{
    border: 1px solid rgb(47, 142, 237);
    background-color: rgb(77, 166, 255);
    background-image: -moz-linear-gradient(top, rgb(77, 166, 255), rgb(71, 154, 237));
    background-image: -webkit-linear-gradient(rgb(77, 166, 255), rgb(71, 154, 237));
    background-image: linear-gradient(top, rgb(77, 166, 255), rgb(71, 154, 237));
 
    text-shadow: 0px 1px 1px rgb(128, 191, 255);
}

.sad-lightblue div.progress-bar{
    background-color: rgb(0, 93, 186);
    background-image: -moz-linear-gradient(top, rgb(204, 230, 255) 0%, rgb(204, 230, 255) 15%, rgb(154, 191, 227) 46%, rgb(0, 93, 186) 47%, rgb(0, 93, 186) 61%, rgb(92, 158, 224) 100%);
    background-image: -webkit-linear-gradient(rgb(204, 230, 255) 0%, rgb(204, 230, 255) 15%, rgb(154, 191, 227) 46%, rgb(0, 93, 186) 47%, rgb(0, 93, 186) 61%, rgb(92, 158, 224) 100%);
    background-image: linear-gradient(top, rgb(204, 230, 255) 0%, rgb(204, 230, 255) 15%, rgb(154, 191, 227) 46%, rgb(0, 93, 186) 47%, rgb(0, 93, 186) 61%, rgb(92, 158, 224) 100%);
}

